
      <%- include("../partial/header.ejs") %>
  
      <div class="container">
          <h1 name="header" class="text center">
              asdf
          </h1>
  
          <p>
              asdfvgb
          </p>
      </div>
  
      <%- include("../partial/footer.ejs") %>
    