
      <%- include("../partial/header.ejs") %>
  
      <div class="container">
          <h1 class="text center">
              Essay1
          </h1>
  
          <p>
              This is essay 1

          </p>
      </div>
  
      <%- include("../partial/footer.ejs") %>
    