<%- include("partial/header.ejs") %>


    <div class="container">

        <ul class="list-item">
            <li><a href="#">Essay1</a></li>
            <li><a href="#">Essay2</a></li>
            <li><a href="#">Essay3</a></li>
            <li><a href="#">Essay4</a></li>
            <li><a href="#">Essay5</a></li>
            <li><a href="#">Essay6</a></li>
            <li><a href="#">Essay7</a></li>
            <li><a href="#">Essay8</a></li>
            <li><a href="#">Essay9</a></li>
            <li><a href="#">Essay10</a></li>
        </ul>

        <a href="/createEssay" class="btn btn-primary"> ADD yours</a>
    </div>

    <%- include("partial/footer.ejs") %>