<%- include("partial/header.ejs") %>

    <div class="container">
        <h1 class="text-center py-3">Welcome to the Blog Application</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla obcaecati et, quo recusandae consequatur
            dolores hic consectetur mollitia neque nemo eaque beatae deleniti molestiae, dolorum voluptates quas
            debitis. Maxime, perferendis.
        </p>
        <button class="btn btn-primary" href="/essay">Click here</button>
        <hr>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla obcaecati et, quo recusandae consequatur
            dolores hic consectetur mollitia neque nemo eaque beatae deleniti molestiae, dolorum voluptates quas
            debitis. Maxime, perferendis.
        </p>

        <img class="image-random py-2" src="https://source.unsplash.com/random/30×30">

        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla obcaecati et, quo recusandae consequatur
            dolores hic consectetur mollitia neque nemo eaque beatae deleniti molestiae, dolorum voluptates quas
            debitis. Maxime, perferendis.
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla obcaecati et, quo recusandae consequatur
            dolores hic consectetur mollitia neque nemo eaque beatae deleniti molestiae, dolorum voluptates quas
            debitis. Maxime, perferendis.
        </p>
    </div>


    <%- include("partial/footer.ejs") %>