<%- include("partial/header.ejs") %>

    <div class="container">
        <h1>Thanks for Submitting the FOrms</h1>

        <a href="/essay" class="btn btn-primary">GO BACK</a>

    </div>

    <%- include("partial/footer.ejs") %>